
/** Carousel **/
#block-content-type-client-client-carousel .carousel-wrapper {
  padding:0px 10px;
}

#client-logos.carousel {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100px;
    margin: 0 auto;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

#client-logos.carousel ul {
    width: 20000em;
    position: absolute;
    list-style: none;
}

#client-logos.carousel li {
  display:inline-block;
  margin: 0px 10px;
  width: 120px;
}

/** Carousel Controls **/

#block-content-type-client-client-carousel .carousel-control-prev {
  position: absolute;
  top: 40px;

  left: 5px;
	width: 0; 
	height: 0; 
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent; 
	
	border-right:10px solid blue; 
  display:block;
}


#block-content-type-client-client-carousel .carousel-control-next {
  position: absolute;
  top: 40px;

  right: 5px;
  	width: 0; 
	height: 0; 
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	
	border-left: 10px solid blue;
  display:block;
}



#block-content-type-client-client-carousel .carousel-control-prev:hover span,
#block-content-type-client-client-carousel .carousel-control-next:hover span {
    display: block;
}
